---
layout: reveal
title: "2017 春夏音乐会特别版"
permalink: /2017sprummer
---

<!-- <section>Single Horizontal Slide</section> -->
<!-- <section> -->
<!--   <section>Vertical Slide 1</section> -->
<!--   <section>Vertical Slide 2</section> -->
<!-- </section> -->


<section>
  <h2 class="blue-text lighten-2">借问表情包技术哪家强？</h2>
</section>

<section>
  <h3 class="blue-text lighten-2">牧童遥指...
    <span class="fragment fade-in red-text">      
      赵团长!!!
    </span>
  </h3>
  <div class="fragment fade-up" style="width:200px; margin:0 auto">
    <img src="/assets/img/2017special/zhao.jpg" class="responsive-img"/>
  </div>
</section>

<section>
  <div style="width:200px; margin:0 auto;">
    <img src="/assets/img/2017special/HXC/why.jpg" class="responsive-img"/>
  </div>
</section>

  <!-- <section> -->
  <!--   <div class="grid" style="margin:0 auto;"> -->
  <!--     {% for img in site.data.hxc.imgs %} -->
  <!--     <div class="grid-item"> -->
  <!-- 	<img src="/assets/img/2017special/{{ img }}" class="responsive-img materialboxed"/> -->
  <!--     </div> -->
  <!--     {% endfor %} -->
  <!--   </div> -->
  <!-- </section> -->
<section id="collage">

  {% assign n_imgs_per_slide = 4.0 %}
  {% assign imgs = site.data.hxc.imgs | shuffle %}
  {% assign n_slides = imgs.size | divided_by: n_imgs_per_slide | ceil %}
    
  {% for i in (1..n_slides) %}
  {% assign offset = forloop.index0 | times: n_imgs_per_slide %}
    <section style="">
      <div class="row" style="margin:0 auto;">
	{% for img in imgs limit:n_imgs_per_slide offset:offset %}
	<div class="col m3">
	  <img src="/assets/img/2017special/{{ img }}" class="responsive-img materialboxed"/>
	</div>
	{% endfor %}
      </div>
    </section>
  {% endfor %}
</section>

<section data-transition="fade-in">
  <h2 class="orange-text lighten-3">谨此纪念那个逗逼的夏天</h2>
</section>

{% include js_2017special.html %}
