---
layout: default
title: Current members
permalink: /current_members/
---


<div class="container">
  <div id="current_members" class="section">
    <h2 class="deep-purple-text">Current members</h2>
    {% assign roles = "captain,conductor,instrumentist,soprano,alto,tenor,bass" | split: ','%}

    {% for role in roles %}

    {% assign n_cols = 3.0 %}
    {% assign persons = site.data.people[role] | sort: "name_en" %}
    {% assign rows = persons.size | divided_by: n_cols | ceil %}
    
    {% for i in (1..rows) %}
    {% assign offset = forloop.index0 | times: n_cols %}
    <div class="row">
      <div class="col s12 m3">
	<h4 class="deep-purple-text">
	  {% if i == 1 %}
	  {{role | capitalize}}
	  {% endif %}
	</h4>
      </div>
      <div class="col s12 m9">
	{% for p in persons limit:n_cols offset:offset %}
	<div class="col s12 m4">
	  <div class="card">
	    <div class="card-image">
	      <img class="materialboxed" onload="fadeIn(this)" src='{{p.avatar_url}}' data-caption="{{p.name_en}} | {{p.name_cn}}"/>
	    </div>
	    <div class="card-content">
	      <h5> {{p.name_en}} </h5>
	      <h5> {{p.name_cn}} </h5>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
    {% endfor %}
    {% endfor %}

</div>  
