#post-content h1 { font-size: 24px; }
#post-content h2 { font-size: 22px; }
#post-content h3 { font-size: 20px; }
#post-content h4 { font-size: 18px; }
#post-content h5 { font-size: 16px; }
#post-content h6 { font-size: 14px; }

.logo-font { font-family: 'Quicksand', sans-serif; }


nav {
    background-color: #673ab7;
    box-shadow: none;
    color: #fff;
}
nav a { color: #fff; }
nav ul a { color: #fff; }
nav .brand-logo { color: #fff; }



.card-content h5 {
    margin-top: 0;
    margin-left: 0.25rem;
}

.card-content {
    padding: 16px !important;
}

#events .card .card-title a {
    color: #fff;
}

.nav-wrapper i.material-icons{
    margin-left: 0px;
}

.parallex-fix{
    width: 100%;
}

#parallax1 {
    background: url(/assets/img/cover-images/2016.jpg) no-repeat center center fixed; 
}


#parallax2 {
    background: url(/assets/img/cover-images/grassland.jpg) no-repeat center center fixed; 
}


#parallax3 {
    background: url(/assets/img/cover-images/xinjie.jpg) no-repeat center center fixed; 
}
