#post-content h1 { font-size: 24px; }
#post-content h2 { font-size: 22px; }
#post-content h3 { font-size: 20px; }
#post-content h4 { font-size: 18px; }
#post-content h5 { font-size: 16px; }
#post-content h6 { font-size: 14px; }

.logo-font { font-family: 'Quicksand', sans-serif; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  width: 100%;
}


/* .parallax-container img { width: 100%; } */

/* from https://github.com/Dogfalo/materialize/issues/3036 */



.parallax-container .section { width: 100%; }

nav {
    background-color: #673ab7;
    box-shadow: none;
    color: #fff;
}
nav a { color: #fff; }
nav ul a { color: #fff; }
nav .brand-logo { color: #fff; }



.card-content h5 {
    margin-top: 0;
    margin-left: 0.25rem;
}

.card-content {
    padding: 16px !important;
}

#events .card .card-title a {
    color: #fff;
}