.person {
    width: 300px;
    height: 50px;
    clear: both;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.person .face {
    /* width: 50px; */
    /* height: 50px; */
    /* overflow: hidden; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* border-radius: 25px; */
    float: left;    
}

.person .info {
    float: left;
    padding-top: 2px;
    padding-left: 20px;    
}